$white			: #FFFFFF;
$light			: #FBFBFB;;
$black			: #111111;
$gentle-black	: #061021;
$grey			: #484C52;
$red			: #BF1E2E;
$blue			: #1B3664;

//Vars for DUAL361
//Red
$R100: #FCF4F5;
$R200: #F8B7BD;
$R300: #ED7984;
$R400: #DE4553;
$R500: #BF1E2E;
$R600: #A0111F;
$R700: #850A16;
$R800: #5F040D;
$R900: #320207;
//Blue
$B100: #EBF0FA;
$B200: #92A3C1;
$B300: #687FA7;
$B400: #3C598D;
$B500: #1B3664;
$B600: #122C57;
$B700: #0E244B;
$B800: #06193A;
$B900: #010E25;
//Neutral
$N50: #FBFBFB;
$N100: #F4F4F4;
$N200: #EBEBEB;
$N300: #AEB3BB;
$N400: #888F9A;
$N500: #4F5764;
$N600: #3B4758;
$N700: #29364A;
$N800: #162338;
$N900: #061021;
