// Grid.
$xs	 : 375px;
$xm	 : 576px;
$sm	 : 480px;
$md	 : 768px;
$lg	 : 992px;
$xl	 : 1220px;
$xxl : 1366px;
$xxxl: 1493px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1360px;

// Container padding.
$container-padding: 20px;