.hero {
	position: relative;
	padding: 50vw 0 20vw;
	display: flex;
	align-items: center;

	@media all and (min-width: $sm) {
		padding: 30vw 0;
	}

	@media all and (min-width: $md) {
		padding:  20.5vw 0 7.5vw;
	}

	@media all and (min-width: $lg) {
		display: flex;
		align-items: center;
		min-height: 100dvh;
		padding: 0;
	}

	.container {
		max-width: $xl;
	}

	.hero__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 0.00) 74.24%);
		}

		.hero-bg__img {
			width: 100%;
			height: 100%;	
			object-fit: cover;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-end;
		position: relative;
		z-index: 2;
		
		@media all and (min-width: $lg) {
			min-height: auto;
		}
	}

	&__heading {
		width: 100%;
		max-width: 638px;
		position: relative;
		background-color: rgba(17, 17, 17, 0.014);
		border-radius: 20px;
	}

	&__text {
		color: $white;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: $lh;
		width: 100%;
		max-width: 547px;
		margin-bottom: 48px;

		@media all and (min-width: $lg) {
			font-size: 18px;
			margin-bottom: 38px;
		}
	}
}

