.footer-dual {
	padding: 60px 0;

	@media(min-width: $lg) {
		padding: 120px 0 40px;
	}

	// .container {
	// 	max-width: $xl;
	// }

	&-logo {
		display: inline-block;

		img {
			width: auto;
			height: 54px;

			@media(min-width: $lg) {
				height: 58px;
			}
		}
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 36px;

		@media(min-width: $lg) {
			gap: 76px;
		}
	}

	&-col {
		display: flex;
		flex: 1 1 100%;
		min-width: 214px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		@media(min-width: $sm) {
			flex: 0 0 calc(50% - 18px);
		}

		@media(min-width: $lg) {
			flex: 0 0 calc(50% - 38px);
			min-width: auto;
		}

		@media(min-width: $xl) {
			flex: 1 1;
		}

		.footer-dual-nav {
			ul {
				display: flex;
				flex-direction: column;
				gap: 16px;

				@media(min-width: $lg) {
					gap: 20px;
				}

				.menu-item {
					a {
						@include p3-bold();
						color: $N900;
					}
				}
			}
		}

		.link-full {
			margin-top: 36px;

			@media(min-width: $lg) {
				margin-top: 40px;
			}
		}
	}

	&-bottom {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 24px;
		border-top: 1px solid $N300;

		@media(min-width: $md) {
			padding-top: 39px;
			flex-direction: row;
			justify-content: space-between;
		}

		nav {
			ul {
				display: flex;
				align-items: center;
				gap: 7px;

				@media(min-width: $md) {
					gap: 11px;
				}

				li {
					position: relative;
					padding-right: 7px;

					@media(min-width: $md) {
						padding-right: 11px;
					}

					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						display: block;
						width: 1px;
						height: 50%;
						background-color: $N900;
					}

					&:last-child {
						&::after {
							display: none;
						}
					}

					a {
						@include p3-bold();
						color: $N900;
					}
				}
			}
		}

		p {
			@include p3-reg();
			color: $grey;
		}
	}
}