.card {
	&.hidden {
		display: none;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 389px;
		padding-bottom: 24px;
		box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.04); 

		@media all and (min-width: $md) {
			min-height: 442px;
		}
	}

	&__img {
		width: 100%;
		height: 204px;
		margin-bottom: 20px;
		padding: 5px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover
		}

		@media all and (min-width: $md) {
			height: 222px;
			margin-bottom: 24px;
		}
	}

	&__info {
		color: $grey;
		font-family: $ff;
		font-size: 12px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 140%;
		padding: 0 24px;
		margin-bottom: 6px;

		@media all and (min-width: $md) {
			font-size: 14px;
			margin-bottom: 8px;
		}
	}

	&__text {
		color: $grey;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-semibold;
		line-height: $lh;
		padding: 0 24px;
		margin-bottom: auto;

		@media all and (min-width: $md) {
			font-size: 18px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: $red;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: $lh;
		text-transform: uppercase;
		transition: color ease $tr;

		&_wrapper {
			display: flex;
			justify-content: flex-end;
			margin-right: 22px;
		}

		svg {
			margin-left: 8px;

			path {
				transition: fill ease $tr;
			}
		}

		&:hover {
			opacity: 1;
			color: $gentle-black;

			svg path {
				fill: $gentle-black;
			}
		}

		@media all and (min-width: $md) {
			font-size: 16px;
		}
	}
}