.scroll__wrapper {
	padding-left: 5px;
	display: inline-block;

	.scroll__down {
		display: flex;
		align-items: center;
	
		&_text {
			color: $white;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: $lh;
			transition: color ease $tr;
	
			@media all and (min-width: $lg) {
				font-size: 20px;
			}
		}
	
		svg {
			width: 20px;
			height: 20px;
			margin-right: 8px;
	
			path {
				transition: fill ease $tr;
			}
	
			@media all and (min-width: $lg) {
				margin-right: 21px;
			}
		}

		&:hover {
			opacity: 1;
	
			svg path {
				fill: $red
			}
	
			.scroll__down_text {
				color: $red;
			}
		}
	}
}