.arr-reverse {
	transform: rotate(180deg);
}

.swiper-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid $blue;
	cursor: pointer;
	transition: opacity ease $tr;
	margin-right: 12px;
	transition: background-color ease $tr;

	&:hover {
		background-color: $gentle-black;

		svg path {
			fill: $white;
		}
	}

	&:active {
		background-color: $grey;

		svg path {
			fill: $white;
		}
	}

	&:last-child {
		margin-right: 0;
	}

	@media all and (min-width: $lg) {
		width: 48px;
		height: 48px;
	}

	svg  {
		width: 16px;
		height: 10px;

		path {
			fill: $gentle-black;
			transition: fill ease $tr;
		}

		@media all and (min-width: $lg) {
			width: 24px;
			height: 16px;
		}
	}
}