@import '../../src/scss/helpers/mixins';

.dual-programs {
	padding: 60px 0;

	@media(min-width: $xl) {
		padding: 120px 0;
	}
	

	&-wrapper {
		width: 100%;
		max-width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;

		@media(min-width: $sm) {
			max-width: 887px;
		}

		h2 {
			text-align: center;
			margin-bottom: 40px;
			max-width: 300px;

			@media(min-width: $lg) {
				margin-bottom: 60px;
			}
		}
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 36px;

		@media(min-width: $lg) {
			gap: 60px 40px;
			padding: 0 24px;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		@media(min-width: $sm) {
			width: calc(100% / 2 - 18px);
		}

		@media(min-width: $lg) {
			width: calc(100% / 3 - 27px);
			gap: 24px;
		}

		&-img {
			display: flex;
			justify-content: center;
			width: 60px;
			height: 60px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		p {
			@include p1-reg();
			color: $N500;
			text-align: center;
			max-width: 204px;

			@media(min-width: $sm) {
				max-width: 236px;
			}
		}
	}

	.link-arrow {
		margin-top: 40px;

		@media(min-width: $lg) {
			margin-top: 60px;
		}
	}
}