.leadership {
	padding: 35px 0 60px;
	position: relative;

	.container {
		max-width: $xl;
	}

	&__headings {
		display: flex;
		align-items: center;
		margin-bottom: 14px;

		@media all and (min-width: $lg) {
			margin-bottom: 43px;
		}
	}

	.h2__wrapper {
		max-width: 454px;
		margin-bottom: 14px;

		@media all and (min-width: $lg) {
			margin-bottom: 24px;
		}

		h2 {
			width: 100%;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media all and (min-width: $lg) {
			margin-bottom: 18px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 28px;
		right: 20px;
        margin-left: auto;

		@media all and (min-width: $lg) {
			position: static;
			bottom: auto;
			right: auto;
		}
	}

	.section__text {
		max-width: 846px;
	}

	.swiper {
		overflow: visible;
		position: relative;

		@media all and (min-width: $lg) {
			&::before {
				content: '';
				position: absolute;
				left: -500px;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 500px;
				height: 120%;
				z-index: 100;
				background-color: inherit
			}
		}

		&-wrapper {
			padding: 5px 0;
		}
	}

	.swiper-slide {
		width: 280px;
		height: 349px;
		padding: 16px;
		box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.04);
		background-color: $white;

		@media all and (min-width: $md) {
			width: 330px;
			height: 449px;
		}

		@media all and (min-width: $lg) {
			padding: 24px 34px 29px 34px;
		}
	}

	&__swiper {
		&_wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 100%;

			@media all and (min-width: $lg) {
				
			}
		}

		&_img {
			width: 106px;
			height: 106px;
            margin-bottom: 10px;

			@media all and (min-width: $md) {
				width: 157px;
				height: 157px;
                margin-bottom: 16px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
                border-radius: 50%;
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		color: $gentle-black;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-semibold;
		line-height: $lh;
		display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 85px;
		margin-bottom: 4px;
		text-align: center;

		@media all and (min-width: $md) {
			font-size: 18px;
		}
	}

	&__job {
		font-family: $ff;
		font-size: 14px;
		font-weight: $fw-regular;
		line-height: 18.8px;
		text-align: center;
		color: $grey;
		display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 76px;

		@media all and (min-width: $md) {
			font-size: 18px;
			line-height: 28.8px;
			max-height: 120px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: $red;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-semibold;
		line-height: $lh;
		text-transform: uppercase;

		img {
			margin-left: 8px;
		}

		&_wrapper {
			display: flex;
            justify-content: center;
			padding-top: 10px;
			margin-top: auto
		}
	}

	.swiper-scrollbar.swiper-scrollbar-horizontal {
		margin-top: 22px;
		position: relative;
		width: 120px;
		height: 2px;

		@media all and (min-width: $md) {
			width: 200px;
			margin-top: 36px;
		}
	}
}

