.header-dual {
	width: 100%;
	background-color: $white;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	transition: box-shadow ease $tr;

	&.scrolled {
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
	}

	&-logo {
		img {
			width: auto;
			height: 32px;

			@media(min-width: $lg) {
				height: 42px;
			}
		}
	}

	&-wrapper {
		display: flex;
		align-items: center;
		padding-left: 20px;

		@media(min-width: $lg) {
			padding-left: 32px;
		}
	}

	&-box {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 50px;
		position: relative;

		&.showed {
			.header-dual-inner {
				display: flex;
				flex-direction: column;
				overflow-y: auto;

				@media(min-width: $lg) {
					flex-direction: row;
				}
			}

			.header-menu-dual-burger {
				display: flex;
			}

			.burger-button-dual {
				span {
					background-color: transparent;

					&::before {
						transform: rotate(45deg);
						top: 0;
					}

					&::after {
						transform: rotate(-45deg);
						top: 0;
					}
				}
			}
		}
	}

	&-inner {
		display: none;
		position: fixed;
		left: 0;
		top: 48px;
		width: 100%;
		height: calc(100dvh - 48px);
		background-color: $white;

		@media(min-width: $lg) {
			position: static;
			width: auto;
			height: auto;
			display: flex;
		}
	}

	.header-menu-dual {
		.menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 28px 20px;
			gap: 28px;

			@media(min-width: $lg) {
				flex-direction: row;
				gap: 50px;
				padding: 0;
			}

			&-item {
				width: 100%;
				display: flex;
				align-items: center;

				&.blue {
					.sub-menu-wrapper {
						.sub-menu {
							.menu-item:first-child a {
								color: $B500
							}
						}
					}
				}

				&-has-children {
					a {
						@include p3-bold();

						& {
							color: $N900
						}
					}
				}

				&-has-children > a {
					display: none;

					@media(min-width: $lg) {
						display: inline;

						&.clicked {
							opacity: 0.4;
						}
					}
				}

				@media(min-width: $lg) {
					width: auto;
				}

				a {
					color: $N900;
					font-family: $ff;
					font-size: 14px;
					font-style: normal;
					font-weight: $fw-semibold;
					line-height: 160%;
				}

				.sub-menu-wrapper {
					justify-content: space-between;
					width: 100%;
					background-color: $white;

					@media(min-width: $lg) {
						position: absolute;
						right: 0;
						top: 60px;
						padding: 36px;
					}

					&.blue {
						.sub-menu {
							.menu-item {
								&:first-child {
									a {
										color: $B500;
									}
								}
							}
						}	
					}

					.sub-menu {
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: 16px;
						background-color: $white;

						@media(min-width: $lg) {
							max-width: 192px;
						}
						
						.menu-item {
							&-has-children {
								cursor: default;

								& > a {
									display: block;
								}
							}
			
							a {
								pointer-events: all;
								@include p3-bold();
							}
			
							&:hover {
								a {
									opacity: $op;
								}
							}
							
							&:first-child {
								a {
									color: $R500;
									pointer-events: none;
									@include p2-bold();
								}
							}				
						}
					}

					.sub-menu-text {
						display: none;
						flex-direction: column;
						width: calc(100% - 286px);
						gap: 20px;
						padding-top: 10px;
						cursor: auto;

						@media(min-width: $lg) {
							display: flex;
						}

						p {
							color: $N500;
							font-family: $ff;
							font-size: 12px;
							font-style: italic;
							font-weight: $fw-regular;
							line-height: 160%;
							
							&:first-child {
								position: relative;

								&::before {
									content: '';
									display: block;
									width: 30%;
									height: 1px;
									background-color: $N300;
									margin-bottom: 24px;
								}
							}
						}
					}
				}

				&> &-has-children {
					display: flex;
					cursor: pointer;

					a {
						pointer-events: none;
					}
				}

				&-flex {
					display: flex;
				}
			}
		}
	}

	.header-menu-dual-burger {
		display: none;
		background-color: $B500;
		padding: 24px;

		@media(min-width: $lg) {
			position: absolute;
			right: 0;
			top: 60px;	
			padding: 36px;
		}


		.menu, .sub-menu {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;

			@media(min-width: $lg) {
				gap: 20px;
			}
		}

		.sub-menu {
			margin-top: 20px;
			border-top: 1px solid $white;
			padding-top: 19px;
		}

		li {
			a {
				@include p3-bold();

				& {
					color: $white
				}
			}
		}
	}

	&-ui {
		display: flex;

		.link-full {
			text-transform: uppercase;
			transition: background-color ease $tr;

			&:hover {
				opacity: 1;
				background-color: $R600;
			}
		}
	}

	.sub-menu-wrapper {
		display: flex;

		@media(min-width: $lg) {
			display: none;
		}

		&.showed {
			@media(min-width: $lg) {
				display: flex;

				.sub-menu-wrapper {
					display: flex;
				}
			}
		}
	}
}