.news-info {
	padding: 30px 0;

	.container {
		max-width: $xl;
	}

	.news-link-add__link {
		display: flex;
		justify-content: center;
		margin: 10px 0;

		img {
			width: 100%;
		}
	}

	.news-link-images {
		display: flex;
		justify-content: center;

		picture {
			&:first-child {
				margin-right: 10px;
			}
		}
	}

	.news-link__img-center {
		width: 100%;
	}

	.news-link-images-wrapper {
		display: flex;
		margin: 20px 0;

		.news-link-images-left {
			margin-right: 10px;
		}

		.news-link__img{
			margin-right: 0;
			height: auto;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.news-link__img {
		width: 250px;
		height: 250px;
		object-fit: contain;
		margin: 0 auto;

		&.nofloat {
			width: 100%;
			float: none;
			margin: 0 auto 10px auto;
		}
		

		@media all and (min-width: $sm) {
			width: 300px;
			height: 300px;
			float: left;
			margin: 0 20px 0 0;
		}

		@media all and (min-width: $md) {
			width: 350px;
			height: 350px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	.section__text {
		max-width: 780px;

		@media all and (min-width: $lg) {
			margin-right: 60px;
		}
	}

	.highlights__items {
		display: flex;

		@media all and (min-width: $lg) {
			flex-direction: column;
		}
	}

	&__highlight {
		display: flex;
		flex-direction: column;

		&_title {
			color: $grey;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-semibold;
			line-height: $lh;
			margin-bottom: 24px;

			@media all and (min-width: $md) {
				font-size: 18px;
			}
		}

		.highlight__top {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 260px;

			@media all and (min-width: $md) {
				width: 360px;
				height: 210px;
				margin-bottom: 20px;
				padding: 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			.highlight__title {
				color: $white;
				font-family: $ff;
				font-size: 12px;
				font-style: normal;
				font-weight: $fw-regular;
				line-height: 140%;
				margin-bottom: 8px;
				background-color: rgba(17, 17, 17, 0.014);

				@media all and (min-width: $md) {
					font-size: 14px;
				}
			}

			.highlight__name {
				overflow: hidden;
				color: $white;
				font-family: $ff;
				font-size: 14px;
				font-style: normal;
				font-weight: $fw-semibold;
				line-height: 160%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				background-color: rgba(17, 17, 17, 0.014);

				@media all and (min-width: $md) {
					font-size: 18px;
				}
			}
		}
	}

	&__content p {
		margin-bottom: 20px;

		@media (min-width: $md) {
			margin-bottom: 30px
		}
	}
}

.share__links {
	display: flex;
	gap: 5px
}

.more-like {
	padding: 20px 0;

	.container {
		max-width: $xl;
	}

	.more-like__title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media all and (min-width: $md) {
			margin-bottom: 40px;
		}
	}

	&__arrows {
		display: flex;

		@media all and (min-width: $lg) {
			display: none;
		}

		.swiper-button {
			&:hover {
				background-color: $gentle-black;

				img {
					filter: brightness(100%) invert(1);
				}
			}
		}
	}

	.h3 {
		color: $gentle-black;
		font-family: $ff-title;
		font-size: 32px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: $lh;
	}
}

.news-info {
	.highlight__top {
		position: relative;
		overflow: hidden;
		// padding: 0;

		.highlights__img {
			width: 100%;
			height: 260px;
			position: absolute;
			z-index: -1;

			@media all and (min-width: $sm) {
				width: 360px;
				height: 210px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.highlight__headings {
			background-color: rgba(17, 17, 17, 0.534);
			padding: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	}
}

.copy-to-clipboard {
	position: relative;

	&.copied {
		animation-name: bounce;
		transform-origin: center bottom;
		animation-duration: 1s;
		animation-fill-mode: both
	}

	.note {
		position: absolute;
		top: 110%;
		left: 50%;
		transform: translateX(-50%);
		color: $gentle-black
	}
}

@keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transform: translate3d(0,0,0)
	}

	40%, 43% {
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -30px, 0)
	}

	70% {
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -15px, 0)
	}

	90% {
		transform: translate3d(0,-4px,0)
	}
}